<h1>News#show</h1>
<p>Find me in app/views/news/show.html.erb</p>

#写真を入れたい
<%= @newse.title %>

<%= @newse.user.username %>

<%= if @newse.user.id == current_user.id %>
    <%= link_to "編集",edit_newse_path(@newse), class: "button" %>
<% end %>

<%= simple_format @newse.body %>

<%= @newse.user.username %>

<%= link_to user_path(@newse.user) do %>
    <%= @newse.user.username %>さんのページへ
<% end %>