<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
#リンクを貼りたい。

<%= link_to "編集", edit_user_path(@user), class:"button is-warning is-light" %>
<%= @user.username %>

<% if @user.id == current_user.id %>
  <%= @user.email %>
<% end %>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar %>
<% end %>

<%= @user.profile %>