<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規投稿　作成
      </h1>
    </div>
  </div>
</section>


<% if @news.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@news.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @news.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @news do |f| %>
          <div class="field">
            <%= f.label :title, "タイトル", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :body, "コンテンツ", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.file_field :avatar %>
          </div>

          <%= f.submit '投稿', class: "button is-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</section>


