<!DOCTYPE html>
<html>
  <head>
    <title>Localsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d76866717a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title" style="font-family: normal;">Local Infomation</h1>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"button is-warning is-light" %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
      <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
    <% end %>
    


    
    
    <%= yield %>
  </body>
</html>
